.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.search {

}

.sidebar-nav {
    overflow-y: scroll;
    height: 30rem;
}

.list-group-item {
    background: none;
    color: snow;
}

hr {
    background: rgb(36, 36, 36);
    margin: -15px;
}